{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
EDIT VERIFIER PAYPAL INFO
<form action="{{ path('_vs_ppedit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
<br>

{% endblock %}

