{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
EDIT PROFILE
<form action="{{ path('_d_edit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
<br>

{% endblock %}

