{% extends "SiteCoreBundle::layout_nolinks.html.twig" %}

{% block content %}
<br>
<br>
<div class="content_header">
<h2>Terms and Conditions</h2>
<a href="{{ path('_secure')  }}">Click to Accept</a>
</div>
<br>
<br>
{% endblock %}


