{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
EDIT PERSONAL INFORMATION
<form action="{{ path('_vs_edit_pers_ben', {'beneficiaryId': beneficiary.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
<br>

{% endblock %}

