{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
NEW VERIFICATION SPECIALIST REGISTRATION  
<form action="{{ path('_a_new_vs') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
<br>

{% endblock %}

