{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}

Message to Site Admin<br>
<form action="{{ path('_message_public_send_admin') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>


{% endblock %}

