{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
<div class="content_header">
<h2>BENEFICIARIES</h2>
<a href="{{ path('_church_list') }}">Find a Participating Church</a>
</div>

<p>To become a Beneficiary, one must first go to the Simple Giving website and click the <a href="{{ path('_church_list') }}">Find a Participating Church</a>.  Once there they will either have the option of typing in their church or look for churches in their region, (Which will be organized by number of successful donations given) and select the church that best suits their preference.  Once selected, they will be shown on the website what to bring to the church’s Verification Specialist which entails:

<ul>
  <li> <strong>Full name</strong>
  <li> <strong>Email address</strong>
  <li> <strong>Church Affiliation</strong>
  <li> <strong>Valid Phone Number</strong>
  <li> <strong>Social Security Number</strong>
  <li> <strong>Photo ID</strong>
  <li> <strong>Family Members Residing in Household</strong>
</ul>

<p>Once this information is given, the Beneficiary will then speak with the selected church’s Verification Specialist and describe his or her current situation.  This will include any and all details that the Verification Specialist will deem critical to the validity of the claim.  Once the Verification Specialist has thoroughly listened to and deliberated if the Beneficiary is in need, he or she will then log into the site on their own VS Administrative login and post the information needed for a bio to be posted.  It is only the Verification Specialist that is able to post or change the information on a Beneficiaries page.  Both the Verification Specialist and the Beneficiary have the option to cancel or suspend the Beneficiaries account.   However, it is only the Beneficiary who is able to respond to messages sent to him or her by a Donor inquiring situation and payment; although the Verification Specialist has the ability to view and report messages should they break the rules of communication posted by the website.

<p>During the time that the Beneficiary has the website, he or she is only allowed to check their profile for messages.  They may not browse Donors or other Beneficiaries, nor are they allowed to initiate contact with the Donor’s unless the Donor contacts them first.  After contact is initiated by the Donor, messages can only be sent on a one-for-one basis.  A double feeding message, by either party, is not allowed.  Upon registering with the site, the participants, who include Donors and Beneficiaries, agree that they will not trade personal information as well as offer or request for services of any kind.  This is a strictly philanthropic opportunity and any attempt by either party to reach an outside agreement will end in the perpetrators profile’s permanent termination.

<p>Once a Donor sends the money needed through a PayPal account, the Beneficiary will be notified with a notification sent to his or her email account.  It is then at that point the Beneficiary and Verification Specialist arrange the transfer of funds to the Beneficiary.  The Beneficiaries account will then be deactivated by the Verification Specialist.  The only thing that the Beneficiary can then do is send out a personalized email, thanking the Donor for their donation and possibly send pictures of how the money was spent and the effect that it had on the Beneficiaries life.  It is highly encouraged by the website to do this.  After the final “Thank You” email has been sent, the Beneficiaries current account will be permanently deleted.  For the Beneficiary to receive funds a second time, he or she must start the registration process over.

{% endblock %}


