{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
<div class="content_header">
<h2>Business Proposal</h2>
<strong>Simple Giving</strong><br>
(Simple-Giving.org)<br>
James Burton - <a href="mailto:jamesburtonpro@gmail.com">JamesBurtonPro@gmail.com</a> - (505)730-4113<br>
</div>
<div style="text-align:left; width:705px;">
<p><strong>Introduction</strong><br> 
In today's busy world, men and women find themselves constantly struggling. There may
be a single mother struggling to pay for her children's lunch. There may be a household whose car has
broken down and the father has no way of getting to work to provide for the family. Then there are those
who are at the very end of their rope, and although they are working two full time jobs, they cannot find
the means to support themselves and their disabled children. Not all struggling is negative, because
there are those, such as myself, who struggle to find an appropriate charitable organization, or legitimate
people to whom I may offer aid. There is no current organization that connects the two different groups of
people on a personal and immediate level.

<p><strong>Objectives</strong><br>
The first and foremost goal of Simple Giving is to connect those who are in need with
those who are willing to give. This objective can be met by constructing a private social networking site
that requires certain steps of validation and documentation to join. Once a member, one can either be
categorized as a "Donor", "Beneficiary" or a "Verification Specialist". Simple Giving will connect people
and families from different churches and different parts of the country and allow those who are truly in
need to receive help while still retaining their pride and relative anonymity.

<p><strong>Project Plan</strong><br>
Simple-Giving's mission is to connect people that are willing and looking to give with those
who are suffering and in need of help. Simple-Giving does this by connecting Donors with Beneficiaries
through a network connected by churches and congregations; this provides a support group with the
clear potential of reaching every person in the United States. The Donors of the site only have the ability
to browse a restricted number of profiles matching their preferences. They also have the privilege of
being able to donate the money where they see fit, as well as opening a dialogue between themselves
and those in need. All conversations can be mediated and accessible to the Beneficiaries home-church
representative. The Beneficiaries have the ability to make a personalized profile, detailing their situation
with a short bio with the eventual option of using a limited number of appropriate pictures after the money
has been sent by the Donor, illustrating and detailing how the Donor has specifically helped that family.
As a Beneficiary, they are only able provide information for a profile by detailing their information and wait
for a response; they are not allowed to browse or make contact with the Donors to prevent an influx of
messages to those willing to give.

<p><strong>Donor Specific</strong><br>
To prevent any scanning or excessive browsing of those less fortunate by those who are
Donors; Donors will be limited to a number of profiles that they may view and donate to that are regulated
by certain "giving preferences" such as Urgency (Scaled 1 to 5, determined by the church), Children in
the Household, Amount of Funds Needed, What the Funds are Needed for, and Location (Can only be
determined by "Near", "Far" and "Anywhere"). After these preferences are given and their answers scaled
they are given a number of different families or individuals they can choose to help. After Donating
to a family, the Donor is allotted one more family to choose from to help, adding to his total. This can
happen multiple times, as for when a Donor meets a need of one family, he or she gets one more family
to choose from in the future. To become a Donor, one provides his or her:

<ul>
  <li> <strong>Full name</strong>
  <li> <strong>Email address</strong>
  <li> <strong>Church Affiliation</strong> ("No Church" is an option)
  <li> <strong>PayPal Information</strong> (Or Dwolla)
  <li> <strong>Personal Phone Number</strong> (Sent securely to Verification Specialist, for verification of payment received)
</ul>

<p><strong>Beneficiary Specific</strong><br>
To become a Beneficiary, one must produce the proper verification, which is more than a Donor needs to surrender, due to the fact that there are many out there who would scam, spam, lie and cheat to take advantage of this trustworthy and humble attempt at helping those truly in need.  As a Beneficiary, the first step is to talk to your designated church "Verification Specialist"; who is in charge of verifying those in need, their profiles they create, and the money that they receive.  Once the Verification Specialist approves the profile the family or person is wishing to create, it is the Verification Specialist who uploads it and posts it to the "Simple Giving" website.  Once uploaded, the Beneficiary has the ability to view his or her profile with a given username and password, as well as respond to mail and write "Thank You" letters after help is received.  The Beneficiary can NOT initiate dialogue between themselves and a Donor nor can they edit their profile after it is already posted without approval and review from the Verification Specialist.  The Beneficiary is also restricted from browsing any profiles. If the Beneficiary is selected to receive help from a Donor they first receive an opening message from the Donor, partly to ensure that the need is still there as well as to ensure the profile is active.  After the first message and response, the Donor may send the money requested, (And only the specific amount approved by the Verification Specialist on the profile) to the Beneficiary in need at their discretion.  After the amount is sent by the Donor, it is received by the Verification Specialist, who will distribute the funds to the beneficiary after meeting the required qualifications.  Upon receiving the credit order, the Verification Specialist calls the Donor to verify the amount of funds sent and that it is in his possession.  The Verification Specialist then calls the Beneficiary to announce that the money is ready to be received and once the transaction has been completed by the Donor to the Beneficiary.  The Donor will receive one more call to verify that the Beneficiary has, in fact, received the funds sent.  The Beneficiary then has the option to send a personal electronic letter, thanking the Donor personally for their gift.  At this point the account is suspended until the Beneficiary produces a receipt entailing what they purchased with the money they received   To create a profile, the Beneficiary must be willing to divulge to the Verification Specialist and the "Simple Giving" website:

<ul>
  <li> <strong>Social Security Number</strong>
  <li> <strong>Photo ID</strong>
  <li> <strong>Full name and address</strong>
  <li> <strong>Email address</strong>
  <li> <strong>Valid Phone Number</strong>
  <li> <strong>Church Affiliation</strong>
  <li> <strong>Credit Card Information for the ability to deposit funds</strong>
  <li> <strong>Family Members Residing in Household</strong>
</ul>

<p><strong>Project Resources</strong><br>
 Since this will be a web-based project, the need for outside resources becomes minimal due to the income provided by Ad-Space.  The three most vital resources in the future of this website, will be the Web Server/Developer, Legal Team, and most importantly, the Verification Specialist volunteers that donate their time to ensure the fluid transfer of funds and verification of Beneficiaries.  Each church that is willing to participate must designate at least one volunteer Verification Specialist that will undergo an online orientation to receive a certificate of completion designating him or her to be able to mediate on behalf of the website.  Simple Giving will also be opened as a Non-Profit organization and allow all donations from Donors to be given directly to the church specific account for distribution to the specific family or individual.

<p><strong>Costs and Contrasts</strong><br>
The true beauty of this program is that not only do you see whom you are helping, not only are you able to verify that your money is going to someone you know needs help and not only are you able to open a dialogue and a lasting relationship with those that are in need, but you can rest easy with the knowledge that 100% of your money goes directly to those in need because all logistical costs can be paid for by Ad-Space and donations on the website.  The website has been bought and is out with a current Phase 1 stage ready for beta testing with all of the necessary functions.  A basic introductory website was up before this with no function other than orientation at <a href="http://www.Simple-Giving.org">www.Simple-Giving.org</a>; which has since then been replaced.  All current costs are being covered by the executive director and founder out of pocket. 

<br><br>
</div>
{% endblock %}


