{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
<div class="content_header">
<h2>SIMPLE GIVING</h2>
</div>
<table>
  <tr>
    <td class="form_left">Contact:</td> 
    <td class="form_right"><strong>James Burton</strong></td>
  </tr>
  <tr>
    <td class="form_left">Email:</td> 
    <td class="form_right"><a href="mailto:JamesBurtonPro@gmail.com">JamesBurtonPro@gmail.com</a></td>
  <tr>
    <td class="form_left">Call:</td>
    <td class="form_right">(505)-730-4113</td>
  </tr>
</table>
<br>
<br>
{% endblock %}


