{% extends "SiteCoreBundle::layout.html.twig" %}

{% block content %}
          <table class="content">
              <tr>
                  <td class="left">
                      <h2 class="main_title">Mission Statement
                      <h2 class="main">Simple Giving's purpose and goal is to be a simple and dependable liaison between those that are willing to give and those that are in need. 
                      <h2 class="main">Simple Giving will do this by utilizing the already strong, existing network shared by churches and their respective congregations in America.                     
                  </td>
                  <td class="right"><img alt="starfish" src="/images/starfish.jpg">
                  </td>                  
              </tr>
          </table>
          <img alt="Shadow bar" src="/images/shadow_bar.jpg">
{% endblock %}


