{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
<div class="content_header">
<h2>VERIFICATION SPECIALISTS</h2>
Contact <a href="{{ path('_message_public_send_admin') }}">Site Admin</a> for more information.
</div>
<p>The most significant part of Simple Giving will be the individuals who volunteer to verify Beneficiaries and ensure the timely and honest transfer of funds sent by Donors; these men and women are given the title of Verification Specialist.  After Simple Giving has been reviewed and accepted by participating churches, the church designates a volunteer staff, deacon or benevolence committee member that is willing to be the liaison between Beneficiaries and the philanthropy that Simple Giving distributes. The Verification Specialist’s first job is to acquire and establish a PayPal that is unique within the church’s accounts to allow for the funds to be sent to the correct church Verification Specialist and Beneficiary. 

<p>When a family or individual comes to request help from their church through the Simple Giving program and are referred to the churches designated Verification Specialist, it is the representative’s responsibility to schedule a timely meeting between him/herself and the Beneficiary.  Once an appropriate time has been scheduled on church property, during church working hours, it is the Verification Specialist’s job to then begin the process of ensuring the prospective Beneficiary is applicable to participate in the Simple Giving program.  To verify that the Beneficiary is in need, the Verification Specialist must whole-heartedly endorse several things that the Beneficiary will present; which consists of:

<ul>
  <li> The Beneficiary’s reason for applying for a profile on the Simple Giving web-page
  <li> The lack of ability and funds to provide for the specified need
  <li> The verification that all those who are being presented for a specific case are detailed and titled correctly in the Bio on the profile.
</ul>

<p>While the Verification Specialist and the church are not liable for the integrity of the individual(s) presenting their case for a profile, it is up to their own personal and professional discretion to determine if the prospective Beneficiary is being dishonest.  The Verification Specialist has the unique right to disapprove the Beneficiary from receiving access to Simple Giving.  If the Verification Specialist feels strongly about this, he or she may send a report detailing the information of the incident as well as the name and last four that it will be filed under.  This will prevent dishonest people from church hopping to receive help for a problem that may be illegitimate.  This report can later be reviewed to be dropped or catalogued permanently upon request, either barring the person permanently or allowing them to again apply for help.    

<p>When a Beneficiary has been approved by the Verification Specialist, it is then the Verification Specialists job to create a profile for the individual or family entailing information pertaining to the charitable contribution they are asking to receive.  This includes both visible and "invisible" information.  The visible information includes:

<ul>
  <li> First name of Beneficiary and all those listed in Bio
  <li> Church Affiliation
  <li> The Beneficiary’s reason for applying for a profile on the Simple Giving web-page
</ul>

<p>The "invisible" information is sent to Simple Giving for registration, privacy, communication, and regulatory purposes and is not shared outside of the Simple Giving administration and staff.  This entails the:

<ul>
  <li> Full name and last 4 of social security number
  <li> Email Address
  <li> City, State and Church
  <li> Phone Number
</ul>

<p>During the time that the Beneficiary’s profile is active, the Verification Specialist has the ability to view the messages of all the Beneficiaries he or she have signed up.  This is to prevent any possible misuse or exchange of personal, identifiable information between Donor’s and Beneficiaries.  If the exchange of information or abuse is present, it is the Verifications duty to immediately report the message.  This will cease communication as well as freeze the perpetrator’s account until further examination. 

<p>Once one of the Verification Specialist’s appointed Beneficiaries has been selected to receive a charitable donation, both parties are alerted and it is the Verification Specialists job to ensure the responsible transfer of funds.  He or she will first call the Donor, allowing him or her to know that the funds have been received by the PayPal account.  The second form of verification comes when the Beneficiary receives the funds and is then allowed to send a "Thank You" email, entailing the gratitude the individual or family has towards the donor. The Beneficiary also has the possibility of attaching and sending pictures that have been approved by the Verification Specialist.

<p>Once a Beneficiary has approached a Verification Specialist and created a Simple Giving profile, they must go through a transfer process to go to a different church’s specialist.  This entails the original Verification Specialist verifying and sending any pertinent information to the new Verification Specialist at the church, and accepting the application for transfer.  There is not yet a conceived time limit on the ability to create a new profile or the transfer process of Beneficiaries.

<p>Contact <a href="{{ path('_message_public_send_admin') }}">Site Admin</a> for more information.
{% endblock %}


