{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
<div class="content_header">
<h2>VISION</h2>
</div>
<p><strong>Vision</strong><br> 
My long term goal is to have Simple Giving a part of every reputable church, spanning from coast to coast and positively affecting lives in every community; regardless of location or demographics.  My ultimate vision is to have Simple Giving taking part in churches and communities around the globe, allowing for immediate, global relief and more importantly, international community. 

<p><strong>1 Year Projection</strong><br>
One year from now, my conservative goal is to have Simple Giving reach 100 separate churches in the continental United States.  I predict that the majority will begin to sprout from New Mexico and Southern California, but this is not limiting to churches outside of these states due to the fact that Simple Giving is an online liaison program and does not share the same physical boundaries that churches and congregations may.

<p><strong>2 Year Projection</strong><br> 
Two years from now, my conservative goal is to have Simple Giving in over 250 of the churches in New Mexico and Southern California, regardless of denominational affiliation.  My vision also includes that I will have proposed to and have been supported by churches in other states reaching from coast to coast as well as the churches in Alaska and Hawaii.

<p><strong>5 Year Projection</strong><br> 
I project that within five years, Simple Giving will have spread from its roots, to all of the states in the union, piggy-backing on the already strong communities that churches share with one another; reaching well over 1000 churches.  In five years I plan to have Simple Giving participating in international outreach programs, helping those in need outside of the North American region.  It is after we have established an outreach to churches in every state that we begin to consider and refine plans pertaining to involvement outside of the United States. 

<p><strong>Reason for Success</strong><br> 
We are currently living in a morally and ethically bankrupt society; people are struggling, hurting and looking for ways to better themselves and ways to help the people around them.  Simple Giving has an incredible amount of potential because it adds a unique face and a story to each and every donation.  People give to large charities such as I do,which serve a vital service in our community and will continue to do so.  However, they do not offer anywhere near the amount of self validation and a sense of fulfillment as giving to someone personally for a specific need does.  Simple Giving will succeed because it utilizes a network that is already there, with people that are already willing to give, and most importantly, it makes giving simple.
{% endblock %}


